<html>
<head>
 <title>Page title</title>
 <style>
   body{
            background-image:url('a11.png');
            background-size: 100% 100%;
  
   }
   .h-primary{
          margin: 50px;
          padding: 60px
   }
   body{
          line-height:1.8;
    } 
 </style>
</head>
<body>
       <!-- <img src="a1.png" alt="Bg" width="12" height="12"> -->
   
       <section id="contact-container">
         <font face="Times New Roman" color="Navy" size="3" align="center">
        <h1 class="h-primary">REGISTER TO ORDER FOOD</h1>
        <div class="form">
            
            <form action="">
                <div>
                    <label for="name">Name</label><br>
                    <input type="text" id="name" placeholder="Name">
                </div>
                <div><label for=phone>Register  No </label><br>
                    <input type="text" id="phone" placeholder="Register no. ">
                </div>
                <div><label for="email">Email Id</label><br>
                    <input type="email" id="email" placeholder="Email Id">
                </div>
            </form>
        

            <!-- <button onclick="document.location=aa.html''">CONFIRM</button> -->

        </div>
    </section>
<center><a href="menu.html"><b><i><font style="text-decoration: none;" >Submit </font></i></b></a></center>
</body>
</html>