<html>

<head>
    <title>Area</title>
    <style>
        body {
            background-size: 100% 100%;
        }
    </style>
    <marquee direction="right" loop="5" scrollamount="5">
        <font face="Matura MT Script Capitals" size="9" color="yellow"><b><i>Today's Menu!! </i></b></font>
    </marquee>
</head>

<body style="background-image: url('{{ url_for('static', filename='assets/background.avif') }}');">


    <br><br>
    <font face="Matura MT Script Capitals" size="6" color="white">Select your food</font>
    <br><br><a href="order.html">
        <img src="{{ url_for('static', filename='assets/shawarma.jpg') }}" height="350" width="400"
            style="border: 1px solid #000;" alt="Shawarma Image">
    </a>


    <a href="order.html">
        <img src="{{ url_for('static', filename='assets/Dosa.jpeg') }}" height="350" width="400"
            style="border: 1px solid #000;" alt="Shawarma Image">
    </a>

    <a href="order.html">
        <img src="{{ url_for('static', filename='assets/Onion_roast.jpeg') }}" height="350" width="400"
            style="border: 1px solid #000;" alt="Shawarma Image">
    </a>
    <br><br>

</body>

</html>