<html>

<head>
    <title> area </title>
    <marquee direction="right" , loop="5" scrollamount="5">
        <font face="Matura MT Script Capitals" size="9" color="black"><b><i>Today's Menu!! </i></b></font>
    </marquee>
    <style>
        body {
            background-size: 100% 100%;
        }
    </style>

<body background="../assets/Dosa.jpeg">
    <br><br>
    <font face="Matura MT Script Capitals" size="6" color="green">Select your food</font>
    <br><br><a href="order.html">
        <img src="../assets/shawarma.jpg" height="350" width="400" style="border: 1px solid #000;" alt="Dosa Image">
    </a>
    <br><br>

    <a href="order.html">
        <img src="../assets/Dosa.jpeg" height="350" width="400" style="border: 1px solid #000;" alt="Dosa Image">
    </a>
    <br><br>

    <a href="order.html">
        <img src="../assets/Dosa.jpeg" height="350" width="400" style="border: 1px solid #000;" alt="Dosa Image">
    </a>
    <br><br>


    <!-- <a href=".html"> <font face="TimesNewRoman" size="5" color="white"> ~ Back  </font><br></a> -->
</body>
</head>

</html>